<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66527320947-k3ustj6k4qhdisq4f464haq5fgtkdc08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66527320947-k3ustj6k4qhdisq4f464haq5fgtkdc08</string>
	<key>API_KEY</key>
	<string>AIzaSyDcpmbriFIluWQTvPTThH-PQg66TzQ2Q6E</string>
	<key>GCM_SENDER_ID</key>
	<string>66527320947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puckproductions.facesbyplaces</string>
	<key>PROJECT_ID</key>
	<string>future-datum-321223</string>
	<key>STORAGE_BUCKET</key>
	<string>future-datum-321223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66527320947:ios:aefc66b471011ed9bb0306</string>
</dict>
</plist>