.footer
  .disclaimer
    %p{:style=>"margin-left: 30%; font-style: initial;"}DISCLAIMER: 
    %strong I hereby declare that I do not own the rights to this music/song. 
    All rights belong to the owner. No Copyright Infringement Intended.
  .text All Rights Reserved by © FBP 2020
  %a.term{href:"/terms"} TERMS & CONDITIONS
  %a.privacy{href:"/privacy"} PRIVACY POLICY 
