.footer
  .term
<<<<<<< HEAD
    %a.sections{:href => "/terms"}
      Terms of Service
  .text All Rights Reserved FBF 2020
  
=======
    %a.sections{href: "/terms"} Terms of Service
  .text All Rights Reserved FBF 2020
>>>>>>> new-web-homepage
