.footer
  .disclaimer 
    You acknowledge and agree that when you post content on FBP or view content provided by others, you are doing so at your own discretion and risk.
  .text All Rights Reserved by © FBP 2020
  %a.term{href:"/terms"} TERMS & CONDITIONS
  %a.privacy{href:"/privacy"} PRIVACY POLICY 
