.footer
<<<<<<< HEAD
  .term
<<<<<<< HEAD
    %a.sections{:href => "/terms"}
      Terms of Service
  .text All Rights Reserved FBF 2020
  
=======
    %a.sections{href: "/terms"} Terms of Service
  .text All Rights Reserved FBF 2020
>>>>>>> new-web-homepage
=======
  .text All Rights Reserved by © FBP 2020
  %a.term{href:"/terms"} TERMS & CONDITIONS
  %a.privacy{href:"/privacy"} PRIVACY POLICY 
>>>>>>> new-web-homepage
