.header
  .logo-container
    .logo
  .tabs-container
    / %a.tab PRIVACY POLICY
    / %a.tab TERMS & CONDITIONS
    %a.tab{href: "/about"} ABOUT
    %a.tab{href: "/"} HOME
.header-sub
  .logo-container
    .logo
  .tabs-container
    %a.tab{href: "/"} HOME
    %a.tab{href: "/about"} ABOUT
    / %a.tab TERMS & CONDITIONS
    / %a.tab PRIVACY POLICY