<<<<<<< HEAD
.header
  .logo-container
    .logo
  .tabs-container
    / %a.tab PRIVACY POLICY
    %a.tab{href: "/terms"} TERMS & CONDITIONS
    %a.tab{href: "/about"} ABOUT
    %a.tab{href: "/"} HOME
.header-sub-menu
  .logo-container
    .logo
.header-logo
=======
.header-logo
  .logo-container
    %a{href:"/"}
      .logo
.header-sub
>>>>>>> new-web-homepage
  .logo-container
    .logo
.header-sub-tab
  .tabs-container
    //%a.tab{href:"/sign-up"} SIGNUP
    %a.tab{href: "/"} HOME
    %a.tab{href: "/about"} ABOUT
    %a.tab{href: "/terms"} TERMS & CONDITIONS
    %a.tab{href: "/privacy"} PRIVACY POLICY
.header
  .logo-container
    %a{href:"/"}
      .logo
  .tabs-container
    //%a.tab{href:"/sign-up"} SIGNUP
    %a.tab{href:"/privacy"} PRIVACY POLICY
    %a.tab{href: "/terms"} TERMS & CONDITIONS
    %a.tab{href: "/about"} ABOUT
    %a.tab{href: "/"} HOME