.about
  .title-container
    .title.bold ABOUT US
    .title-image-container
  .body
    .title.bold REMEMBER . HONOR . NEVER FORGET .
    .row
      .main-text
        Remembering Someone that you shared your time and moments with could start
        %br
        the beginning of keeping their memories alive.
      .main-text Honor a Friend or Family Member through shared Videos and Photos.
      .main-text Never Forget Birthdays, Anniversaries, Holidays, Special Moments.
    .row
      .image-container
        .image.image_1
      .section-container
        .title.bold Speak for the Voiceless
        .image_1
        .main-text Face by Places speaks for those who have been forgotten by the world, but not by their friends and family. Humanize, your loved one by sharing vidoes and photos of a forgotten victim.
    .row
      .section-container
        .title.bold Create , Locate Friends and Family at the Resting Place.
        .image_2
        .main-text
          Faces by Places creates a place where friends and family can be located by mobile. We help you put together GPS coordinates that locate final Resting Place of loved ones.
          %br
          We allow you share vidoes and photos of great moments that you shared to help you keep the legacies and memories alive.
      .image-container
        .image.image_2