.about
  .title-container
    .title.bold ABOUT US
    .title-image-container
  .body
    .title.bold 
    -# REMEMBER . HONOR . NEVER FORGET .
    .row{:style => "padding-bottom: 5%"}
      .main-text
        Facesbyplaces.com is a ''Free'' Memorial Mobile App that brings family and friends together in a time of crisis and tragedy.
        When someone you love dies, the job of handling those personal and legal details may fall to you. It's a stressful task that can make survivors feel like they are spinning out of control.
    .row
      .image-container
        .image.image_1
      .section-container
        .title.bold 
        -# Speak for the Voiceless
        .image_1
        .main-text Facesbyplaces.com wants to support survivors through these most challenging life events. A deceased member's affairs are something you won't have to do alone; you will find comfort in sharing the legacy of how a loved one lived and died.
    .row
      .section-container
        .title.bold 
        -# Create, Locate Friends and Family at the Resting Place.
        .image_2
        .main-text
          Facesbyplaces.com will forge relationships connecting members with, Funeral homes, flower shops, Cemeteries, Life Insurance, Attorneys, and Counselors.
      .image-container
        .image.image_2
    .row{:style => "padding-bottom: 3%; padding-top: 3%"}
      .main-text{:style => "font-size: 18px"}
        %i The world has changed, but it has not changed who we are. So now it's time to make up for a lost time, to reconnect with friends and family with the Faces and Places we miss most. Let us always remember to appreciate those moments as we move forward past and present on Facesbyplace.com.