.home
  .row
    .col.col-2.main-container
      .main-title
        %p
          Faces By
          %span Places
      .text.bold
        A memorial place, keeping the memories 
        %br
        of family and friends alive.
      .text.second
        %span.title.bold FacesByPlaces
        is a new exciting Memorial App
        %br
        that is allowing friends and family to stay connected
        %br
        by sharing stories, videos, and memories of a
        %br
        departed loved one, helping to keep their memory
        %br
        and legacy alive.
      .text.bold.coming-soon COMING SOON