.privacies
  .title-container
    .title.bold Privacy Policy
    .title-image-container
  .body
    .title
      %p 
        Well, Hello! You have arrived at FacesbyPlaces.com’s privacy policy (“Privacy Policy”). The Privacy Policy applies to our online services locations (e.g., website or mobile app) (“Site”), as well as any features, widgets, plug-ins, applications, content, downloads and other services (collectively, the “Service”) that are made available by FacesbyPlaces, LLC., (“Honor Them”, Love Them, “we” “our” or “us”).
      %br
        FacesbyPlaces.com is a private company, established in the U.S.A., registered at 215-03 JAMAICA AVENUE, QUEENS VILLAGE, NY 11428, in the United States with the contact email address 
        %a{href:"mailto:privacy@facesbyplaces.com "} privacy@facesbyplaces.com
        , and for the purposes of the General Data Protection Regulation (“GDPR”) we are the data controller.
      %br
        The Privacy Policy sets out the basis on which we will process any personal information or usage information we collect from you, or that you provide to us, in connection with your use of the Site and Service regardless of how you access or use them. Please read our Privacy Policy carefully so that you understand your rights in relation to your personal data, and how we will collect, use and process your personal information respectfully. 
      %br
        This Privacy Policy does not apply to data collection activities that occur outside of your use of our Service (unless otherwise stated below) and does not govern the data practices of third parties that may interact with our Service.
      %br
        To the extent we provide you notice on our Service of different or additional privacy policies or practices (e.g., at the point of our collection), those additional terms shall govern such data collection and use.
      %br
        In addition, please review the Terms of Service, which governs your use of the Service. By using our Service, you acknowledge that you have read and understood our Privacy Policy and Terms of Service and accept our collection, use and disclosure of your information and data, and other activities, as described below. If you do not agree to the terms of this Privacy Policy, please do not use this Service.
    .row
      .main-text 
        To help you navigate and find specific sections of this Privacy Policy, please refer to this table of contents below:
        %ul
          %li
            %strong 
              %a.sections{href:"#community-rules"} COMMUNITY RULES
          %li
            %strong
              %a.sections{href:"#information"} INFORMATION WE COLLECT
          %li
            %strong
              %a.sections{href:"#how-we-use"} HOW WE USE YOUR INFORMATION
          %li
            %strong
              %a.sections{href:"#how-we-share"} HOW WE SHARE YOUR INFORMATION
          %li
            %strong
              %a.sections{href:"#other-reasons"} OTHER REASONS WE SHARE YOUR INFORMATION
          %li
            %strong
              %a.sections{href:"#treat-publicly"} HOW WE TREAT PUBLICLY AVAILABLE INFORMATION
          %li
            %strong
              %a.sections{href: "#third-party"} THIRD-PARTY CONTENT, SITES, AND/OR APPS YOU ACCESS THROUGH US
          %li
            %strong
              %a.sections{href:"#california-rights"} CALIFORNIA  RIGHTS
          %li
            %strong
              %a.sections{href:"#personal-information"} CHANGING YOUR PERSONAL INFORMATION
          %li
            %strong
              %a.sections{href:"#how-we-communicate"} CHANGING HOW WE COMMUNICATE WITH YOU
          %li
            %strong 
              %a.sections{href:"#how-we-retain"} HOW LONG WE RETAIN YOUR INFORMATION 
          %li
            %strong
              %a.sections{href:"#users-outside-us"} USER’S OUTSIDE OF THE UNITED STATES
          %li
            %strong
              %a.sections{href: "#childrens-privacy"} CHILDREN’S PRIVACY 
          %li
            %strong
              %a.sections{href:"#security"} SECURITY 
          %li
            %strong
              %a.sections{href:"#changes-to-privacy-policy"} CHANGES TO THE PRIVACY POLICY 
          %li
            %strong
              %a.sections{href:"#severability"} SEVERABILITY
          %li
            %strong
              %a.sections{href:"#privacy-shield"} PRIVACY SHIELD
          %li
            %strong
              %a.sections{href:"#contact-us"} CONTACT US
    #community-rules.row
      .title.title-terms
        %strong I. COMMUNITY RULES
        %p By using the Service, you agree that you will not:
        %ul
          %li.list-margin Use the Service for any purpose that is illegal or prohibited by this Agreement.
          %li.list-margin Use the Service for any harmful or nefarious purpose.
          %li.list-margin Use the Service in order to damage Facesbyplaces.com 
          %li.list-margin Violate our Community Guidelines and Rules, as updated from time to time.
          %li.list-margin Spam, solicit money from or defraud any members.
          %li.list-margin Impersonate any person or entity or post any images of another person without his or her permission.
          %li.list-margin Bully, “stalk,” intimidate, assault, harass, mistreat or defame any person.
          %li.list-margin Post any Content that violates or infringes anyone’s rights, including rights of publicity, privacy, copyright, trademark or other intellectual property or contract right.
          %li.list-margin Post any Content that is hate speech, threatening, sexually explicit or pornographic; incites violence; or contains nudity or graphic or gratuitous violence or graphics of Blood of Any kind.
          %li.list-margin Post any Content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual or individuals.
          %li.list-margin Solicit passwords for any purpose, or personal identifying information for commercial or unlawful purposes from other users or disseminate another person’s personal information without his or her permission.
          %li.list-margin Use another user’s account, share an account with another user, or maintain more than one account.
          %li.list-margin Create another account if we have already terminated your account, unless you have our permission.
    #information.row
      .title.title-terms
        %strong II. INFORMATION WE COLLECT
        %ol
          %li.list-margin
            %strong Information You Provide to Us.
            If you are an Individual online User (as such term is defined in the Terms of Service), you may provide us with Personal Information and Demographic Information (each as defined below). If you are an FBP User (as such term is defined in the Terms of Service), you may provide us Business Information (as defined below):
            %ul
              %li.list-margin
                %strong “Personal Information” 
                is information about you, such as your first and last name, phone number, username and password, credit card information, date of birth, home address, and email address.
              %li.list-margin
                %strong “Business Information” 
                is information about your organization such as your legal name, tax ID number, tax status, employer identification number(s), location(s), phone number(s), business contact information, bank account information such as bank name, account number and routing number, first and last name(s), birthdate(s), job title(s), phone number(s), last-four digits of social security number(s), and email address(es) of person(s) authorized to operate your account.
            %p We collect this information through various forms and in various places on the Service, including when you sign up for a FacesbyPlaces.com account, through “contact us” forms, or when you otherwise interact with the Service. Any Personal Information, Demographic Information, and Business Information you provide to (FBP) must be true and accurate. Specifically, you verify that you are the current subscriber of any telephone number that you provide to us. Should you change any of your Personal Information, Demographic Information, or Business Information, you agree to notify us before the change goes into effect by updating your Profile Page (as such term is defined in the Terms of Service).
          %li.list-margin
            %strong Information Collected and Stored as You Access and Use the Service. 
            In addition to any information that you choose to submit to us via our Service, we and our third-party service providers use a variety of technologies that automatically (or passively) store or collect certain information whenever you visit or interact with the Service (“Usage Information”). This Usage Information will be stored or accessed using a variety of technologies that will be downloaded to your personal computer, browser, laptop, tablet, mobile phone or other device (a “Device”) whenever you visit or interact with our online Service. To the extent we associate Usage Information with your Business Information and/or Personal Information we collect directly from you on the Service, we will treat it as Personal Information. Usage Information includes:
            %ul
              %li.list-margin Your IP address, UDID, Ad-ID, or other unique identifier (“Device Identifier”). A Device Identifier is a number that is automatically assigned to your Device used to access the Service, and our computers identify your Device by its Device Identifier.
              %li.list-margin Your Device functionality (including browser, operating system, hardware, mobile network information).
              %li.list-margin The areas within our Service that you visit and your activities there, including remembering you and your preferences.
              %li.list-margin Content you post to the Service including messages you send and/or receive via the Service.
              %li.list-margin Your Device location.
              %li.list-margin Your Device characteristics; and
              %li.list-margin certain other Device data, including the time of day, among other information.

            %p We use various methods and technologies to store or collect Usage Information (“Tracking Technologies”). A few of the Tracking Technologies used on the Service, include, without limitation, cookies, web beacons, embedded scripts, browser fingerprinting, entity tags, UTM codes, and recognition technologies that make assumptions about users and devices. We use Tracking Technologies for a variety of purposes, including:

            %ul
              %li.list-margin 
                %strong Strictly Necessary. 
                We use Tracking Technologies that we consider are strictly necessary to allow you to use and access our Service, including cookies required to prevent fraudulent activity, improve security or allow you to make use of Service functionality.
              %li.list-margin 
                %strong Performance Related. 
                We use Tracking Technologies that are useful in order to assess the performance of the Service, including as part of our analytic practices or otherwise to improve the content, ads, products or services offered through the Service.
              %li.list-margin 
                %strong Functionality Related. 
                We use Tracking Technologies that are required to offer you enhanced functionality when accessing the Service, including identifying you when you use our Service or keeping track of your specified preferences.
              %li.list-margin 
                %strong Targeting Related. 
                We use Tracking Technologies to deliver content, including ads relevant to your interests on our Service and third-party services based on how you interact with our advertisements and/or content. This includes using Tracking Technologies to understand the usefulness to you of the content and ads that have been delivered to you.
            %p 
              We use Google Analytics, which is a web analytics tool that helps us understand how users engage with our online Services. Like many services, Google Analytics uses first-party cookies to track user interactions, as in our case, where they are used to collect information about how users use our Service. This information is used to compile reports and to help us improve our Service. The reports disclose website trends without identifying individual visitors. You can opt out of Google Analytics without affecting how you visit our Service – for more information on opting out of being tracked by Google Analytics across all websites you use, visit this Google page: 
              %a{href:"https://tools.google.com/dlpage/gaoptout"} https://tools.google.com/dlpage/gaoptout.
            %p
              Further, third parties may use Tracking Technologies in connection with our Service, which may include the collection of information about your online activities over time and across third-party websites or online services as well as across your Devices. We do not control those Tracking Technologies and we are not responsible for them. However, you accept that you will encounter third-party Tracking Technologies in connection with use of our Service and accept that our statements under this Privacy Policy do not apply to the Tracking Technologies or practices of such third parties.
            %li.list-margin
              %strong Information Collected and Stored When We Send You a Text Message. 
              After you sign up for our online Service (subject to your consent where required by applicable law), we and/or our FBP online Users will send you text messages that provide marketing, promotional, and/or other information. We and our third-party service providers use a variety of technologies that automatically (or passively) store or collect certain information whenever you we and/or our FBP online Users send you a text message. This information will be stored or accessed using a variety of technologies that will be downloaded to your mobile device whenever you receive a text message.
            %li.list-margin
              %strong Location-Based Information. 
              Our Service uses location-based services in order to verify your location and deliver you relevant content and ads based on your location. We also share your location with third parties (as set out below) as part of the location-based services we offer and for other commercial purposes. You can change the settings on your Device to prevent it from providing us with such information. This location data is collected in a form that personally identifies you and will be used by us and our partners and licensees to provide and improve location-based products and services or for other commercial purposes. You should consider the risks involved in disclosing your location information to other people. We share your location information with the following third parties: Google Analytics, Braze, Chartio, Mixpanel, and Twilio.
            %li.list-margin
              %strong Information Third Parties Provide About You. 
              We will, from time to time, supplement the information we collect directly from you on our Service with outside records from third parties for various purposes, including to enhance our ability to serve you, to tailor our content to you and to offer you opportunities that may be of interest to you. To the extent we receive Personal Data from those sources we will apply this Privacy Policy.
            %li.list-margin
              %strong Interactions with Third-Party Services. 
              The Service includes functionality that allows certain kinds of interactions between the Service and a third-party web site or application. The use of this functionality involves the third-party operator providing certain information, including Personal Information, to us. For example, we provide you third-party sites’ interfaces or links on the Service to facilitate your sending a communication from the Service, or we use third parties to facilitate emails, tweets or Facebook postings. These third parties retain any information used or provided in any such communications or other activities and these third-parties’ practices are not subject to our Privacy Policy. We do not control or have access to your communications through these third parties. Further, when you use third-party sites or services, you are using their services and not our services and they, not we, are responsible for their practices. You should review the applicable third-party privacy policies before using such third-party tools on our Service.
            %li.list-margin
              %strong California Do Not Track Disclosures. 
              Various third parties are developing or have developed signals or other mechanisms for the expression of consumer choice regarding the collection of information about an individual consumer’s online activities over time and across third-party websites or online services (e.g., browser do not track signals). Currently, we do not monitor or take any action with respect to these signals or other mechanisms.
            %li.list-margin
              %strong Information You Provide About a Third-Party. 
              You may send someone else a communication from the Service, such as sending a message to a friend. If so, the information you provide (names, email addresses, telephone numbers, etc.) is used to facilitate the communication and is not used by us for any other marketing purpose unless we obtain consent from that person or we explicitly say otherwise. Please be aware that when you use any send-to-a-friend functionality on our Service, your contact information, name or username and message is included in the communication sent to your addressee(s). Third-party tools will be subject to third-party privacy policies.
            %li.list-margin
              %strong Information Collected and Stored When You Communicate with Other FBP Users Using the Service. 
              We work with a third-party partner, Twilio, to facilitate phone calls and text messages between us, FBP online Users and you for marketing, promotional, and informational purposes. We receive information about these communications including the date and time of the call or text message, the parties’ phone numbers, and the content of any text messages. We also monitor and/or record the contents of phone calls, text messages or voice messages made with us. By proceeding you agree to allow FacesbyPlaces, LLC, to monitor and/or record your calls, text messages or voice messages made using the Service.


    #how-we-use.row
      .title.title-terms
        %strong III.	HOW WE USE YOUR INFORMATION
        %ol
          %li.list-margin
            %strong Generally. In order to perform our contract with you, 
            we will process your Personal Information, Business Information or Usage Information:
            %ul
              %li.list-margin To process and track the transactions you enter into using the Service.
              %li.list-margin To verify your identity, including your accounts on the Service.
              %li.list-margin To provide the Service.
              %li.list-margin To provide customer support, including to resolve disputes, collect fees and troubleshoot problems.
              %li.list-margin To contact you with regard to your use of the Service and, in our discretion, changes to the Service and/or Service’s policies; and
              %li.list-margin To enable you to participate in a variety of the Service’s features.

            %p As it is in our legitimate interests to be responsive to you and to ensure the proper functioning of our Service and provide you with a user-friendly service, we will use your Personal Information, Business Information or Usage Information:
            %ul
              %li.list-margin To provide you with information such as to send you electronic newsletters or to provide you with special offers or promotional and marketing materials on behalf of us or third parties, including to let you know about new products, services or upcoming events.
              %li.list-margin Manage risk, or to detect, prevent, and/or remediate fraud or other potentially prohibited or illegal activities.
              %li.list-margin Manage and protect our information technology infrastructure.
              %li.list-margin To improve the Service, marketing endeavors or our Service offerings.
              %li.list-margin To customize your experience on the Service or to serve you specific content or ads that are relevant to you.
              %li.list-margin To identify your Service preferences so that you can be informed of new or additional products, services and promotions.
              %li.list-margin To improve the overall experience at the Service.
              %li.list-margin To comply with our legal and regulatory obligations.
              %li.list-margin For internal business purposes; and
              %li.list-margin for purposes disclosed at the time you provide your information or as otherwise set forth in this Privacy Policy.
            %p
              Where required by applicable law, we will process information relating to your religious affiliations based on your consent in order to provide you with our Service and allow you to join or be affiliated to a specific organization.
          %li.list-margin
            %strong Telephonic Communications. 
            If you are an Individual User, you acknowledge that by providing your telephone number(s) to (FBP), you are providing (FBP) with your express written consent to receive promotional, marketing, and/or informational text messages and/or phone calls from us and/or FBP online Users. You acknowledge that you may incur a charge for these messages and calls by your telephone carrier and that FacesbyPlaces.com is not responsible for these charges. You may opt-out of receiving text messages and/or phone calls at any time:
            %ul
              %li.list-margin 
                To opt-out of text messages, text 
                %strong STOP 
                to any text message you receive. For help, text 
                %strong HELP. 
                You acknowledge and agree that you may receive to accept a final text message from Facesbyplaces.com confirming your opt-out. You may also change your “Notification” settings in the Facesbyplaces.com mobile app to stop receiving text messages.
              %li.list-margin 
                To opt-out of automated phone calls (but not text messages), please contact us at 
                %a{href:"mailto: optout@facesbyplaces.com"} optout@facesbyplaces.com. 
                Please allow up to thirty (30) days to process any opt-out request.
              %li.list-margin Providing your consent to receive promotional, marketing, and/or informational text messages and/or phone calls is not a condition to use the Service, however, opting out of receiving such communications will limit your use of the Service.
              %li.list-margin If you opt out of receiving text messages and/or phone calls, we reserve the right to still contact you if it relates to verifying your account, any transaction made using our Service, or if required by law.
          %p
            US National Do Not Call Registry (“DNC”). We work with a third-party partner to prevent us and/or our FBP online Users from sending any text messages and/or making any phone calls to Individual Users who have registered their phone numbers on the DNC.
    #how-we-share.row
      .title.title-terms
        %strong IV. HOW WE SHARE YOUR INFORMATION
        %ol
          %li.list-margin
            %strong With FBP online Users. 
            We share your Personal Information and Usage Information with FBP User(s) who lead communities you have joined (“Your FBP Leader(s)”). We share your Personal Information and Usage Information with Your FBP Leader(s) to provide them information on the performance of their community(ies), including, for example, which Individual online Users are most active in their communities. Your FBP Leaders are bound by the Terms of Service and cannot share your information with anyone.
          %li.list-margin
            %strong With Third-Parties We share non-Personal Information, such as aggregated user statistics, with third-parties. 
            Further, we share your Device Identifiers with third-parties along with data related to you and your activities. Where applicable, we share your Personal Information and/or Business Information with payment processing service providers so they can assist with processing tax-deductible donations, membership fees and other transactions initiated to or from your Service account. For non-EU users, we share your Personal Information, Demographic Information, Business Information, Usage Information, and/or Device Identifiers with third-parties for other commercial purposes. If you are a California resident, you have the right to request additional information about this sharing, so please see Section IV(3) below. In addition, we share the information we have collected about you, including Personal Information, as disclosed at the time you provide your information and as described below or otherwise in this Privacy Policy. FBP will additionally disclose your information with third-parties as follows:
            %ul
              %li.list-margin
                %strong When You Request Information From or Provide Information to Third-Parties. 
                You will be presented with an option on our Service to receive certain information and/or marketing offers directly from third-parties or to have us send certain information to third-parties or to have us give third-parties access to your information. If you choose to do so, such Personal Data will be disclosed to such third-parties and all information you disclose will be subject to the third-party privacy policies and practices of such third-parties. We are not responsible for the privacy policies and practices of such third-parties and, therefore, you should review such third-party privacy policies and practices of such third-parties prior to requesting information from or otherwise interacting with them.
              %li.list-margin
                %strong Third-Parties Providing Services on our Behalf. 
                We use third-party vendors to perform certain services on behalf of us or the Service, which include AWS, Google Analytics, Chartio, Mixpanel, Braze, and Twilio. We provide these vendors with access to user information, including Device Identifiers and Personal Information, to carry out the services they are performing for you or for us. Third-party analytics and other service providers may set and access their own Tracking Technologies on your Device and they may otherwise collect or have access to information about you, including Personal Information about you. We are not responsible for those third-party technologies or activities arising out of them.
    #other-reasons.row 
      .title.title-terms
        %strong V. OTHER REASONS WE SHARE YOUR INFORMATION
        %ol
          %li.list-margin
            %strong To Protect the Rights of FacesbyPlaces.com and Others. 
            We will access, use, preserve, transfer and disclose your information (including Device Identifiers and Personal Information) to third-parties: (i) to satisfy any applicable law, regulation, subpoenas, governmental requests or legal process if in our good faith opinion such is required or permitted by law; (ii) to protect and/or defend the Service’s Terms of Service or other policies applicable to the Service, including investigation of potential violations thereof; (iii) to protect the safety, rights, property or security of the Service or any third-party; and/or (iv) to detect, prevent or otherwise address fraud, security or technical issues. Further, we will use IP address or other Device Identifiers to identify users, and will do so in cooperation with third-parties such as copyright owners, internet service providers, wireless service providers and/or law enforcement agencies, including disclosing such information to third-parties, all in our discretion, subject to applicable law. Where necessary in accordance with applicable law, such disclosures will be carried out without notice to you.
          %li.list-margin
            %strong Affiliates and Business Transfer. 
            We share your information, including your Device Identifiers and Personal Information, Business Information and Usage Information with our parent, subsidiaries and affiliates. We will also disclose your information to third parties: (i) in the event that we sell any business or assets, in which case we will disclose your data to the prospective buyer of such business or assets; or (ii) if we or substantially all of our assets are acquired by a third party, in which case information held by us about our users will be one of the transferred assets.
    #treat-publicly.row
      .title.title-terms
        %strong VI. HOW WE TREAT PUBLICLY AVAILABLE INFORMATION
        %ol 
          %li.list-margin
            %strong Public Information. 
            The Service may permit you to submit ideas, photographs, video, audio recordings, computer graphics, pictures, data, information about your location, questions, comments, suggestions or other content, including Personal Information, Demographic Information and/or Business Information (collectively, “User Content”), such as on publicly available Profile Pages. We or others may store, display, reproduce, publish, distribute or otherwise use User Content online or offline in any media or format (currently existing or hereafter developed) and may or may not attribute it to you. Others may have access to.
          %li.list-margin
            %strong Name and Likeness. 
            This section does not apply to individuals using our Services from Europe. We may also publish your name, voice, likeness and other Personal Information, Demographic Information and/or Business Information that is part of your User Content, and we may use the content, or any portion of the content, for advertising, marketing, publicity and promotional activities, as well as for any other commercial purpose. For full terms and conditions regarding User Content you submit to the Service, please review our Services under 
            %a{href:"/terms"} Terms of Service.
    #third-party.row
      %strong VII.THIRD-PARTY CONTENT, SITES, AND/OR APPS YOU ACCESS THROUGH US
      %ul
        %p 
          When you are on the Service you may be directed to other sites and apps that are operated and controlled by third-parties that we do not control such as merchants who directly sell products and services to you (“Third-Party Owners”). If you go to these other sites and apps, such sites and apps will have their own privacy policies. We are not responsible for these third-party privacy policies or the practices of Third-Party Owners. Be sure to review any available policies before submitting any personally identifiable information to a third-party application or otherwise interacting with it and exercise caution in connection with these applications and Third-Party Owners.
    #california-rights.row
      %strong VIII. CALIFORNIA RIGHTS
      %ol
        %p
          If you are a California resident, subject to applicable law and verification, you may have the following rights in relation to Personal Information, as defined by the California Consumer Privacy Act.
        %li.list-margin
          %strong Right to Know: 
          You may request a copy of the following related to the Personal Information we collect about you:
          %ul
            %li.list-margin
              the categories of Personal Information we have collected about you;
            %li.list-margin
              the categories of sources from which the Personal Information is collected;
            %li.list-margin
              the business or commercial purpose for collecting your Personal Information;
            %li.list-margin
              the categories of third parties with whom we have shared your Personal Information; and
            %li.list-margin
              the specific pieces of Personal Information we have collected about you.
        %li.list-margin
          %strong Right to Delete: 
          You may request that we delete any Personal Information we have collected from you. We do not discriminate against you based on you exercising any of the above rights.
        %li.list-margin
          %strong Other Rights: 
          If you are a California resident you may also request certain information about our disclosure of information about you to third parties for their own direct marketing purposes during the preceding calendar year. This request is free and may be made once a year by contacting us as described below.
          %br
          %br
          If you are a member under 18 years of age, and a California resident, you have the right to request removal of unwanted information that you publicly post on our Website. To request removal of such information, please contact us as described below. Upon receiving such a request, we will make sure that the information is not publicly available on our website, but the information may not be completely or comprehensively removed from our systems and databases.
        %li.list-margin
          %strong Exercising Rights
          To make a request with respect to any of the rights above, please provide sufficient information for us to determine if the rights apply to you, attest to the fact that you are a California resident and provide a current California address for our response. To make such a request (limit one request per year), please send an email to:
          %a{href:"mailto: privacy@facesbyplaces.com"} privacy@facesbyplaces.com,
          with 
          %strong “California Privacy Rights” 
          as the subject line or mail us a letter to: 
          %strong FacesbyPlaces.com, 215-03 JAMAICA AVENUE, QUEENS VILLAGE , NY 11428. 
          You must include your full name, email address, and postal address in your request.
    #personal-information.row
      %strong IX. CHANGING YOUR PERSONAL INFORMATION
      %ul
        %p
        You are responsible for maintaining the accuracy of the information you submit to us, such as your contact information provided as part of registration. The Service allows you to review, correct or update Personal Information you have provided through the Service’s registration forms or otherwise by updating your Service account, and you can provide registration updates and changes by contacting us by email at: 
        %a{href:"mailto:privacy@facesbyplaces.com "}privacy@facesbyplaces.com. 
        If so, we will make good faith efforts to make requested changes in our then active databases as soon as reasonably practicable (but we may retain prior information for business records purposes). Please note that it is not always possible to completely remove or delete all of your information from our databases and that residual data may remain on backup media or for other reasons. When you edit your Personal Information or change your preferences on the Service, information that you remove may persist internally for FBP administrative purposes. If you are an individual accessing our Services from Europe, please see your additional rights as set out under section XI below.
    #how-we-communicate.row
      %strong X. CHANGING HOW WE COMMUNICATE WITH YOU
      %ul
        %p
          As described above in 
          %strong Section II(2), 
          you may opt-out of receiving text messages by texting 
          %strong STOP 
          to any text message you receive. You may also change your “Notification” settings in the FacesbyPlaces.com mobile app to stop receiving text messages. To opt-out of receiving phone calls (but not text messages), please contact us at
          %a{href:"mailto:optout@facesbyplaces.com "} optout@facesbyplaces.com. 
          You may cancel or modify our email marketing communications you receive from us by following the instructions contained within our promotional emails. This will not affect subsequent subscriptions and if your opt-out is limited to certain types of emails the opt-out will be so limited. Please note that we reserve the right to send you certain communications relating to your account or use of our Service, such as administrative and Service announcements and these transactional account messages may be unaffected if you choose to opt-out from receiving our marketing communications.
    #how-we-retain.row
      %strong XI. HOW LONG WE RETAIN YOUR INFORMATION
      %ul
        %p We will retain your information as follows for as long as we are required in order to provide the Service to you, as required to fulfil our legal requirements and defend legal claims. After you have terminated your use of our services, we may store your information in an aggregated and de-indentified format.
    #users-outside-us.row
      %strong XII. USERS OUTSIDE OF THE UNITED STATES
      %ol
        %li.list-margin
          %strong TRANSFER OF YOUR INFORMATION
          Our Service is operated in the United States and intended for users located in the United States. If you are located outside of the United States, please be aware that information we collect, including Personal Data, will be transferred to, and processed, stored and used in the United States in order to provide the Service to you. Where the GDPR applies and our processors of your Personal Data are located outside the European Economic Area (“EEA”), such transfer will be to a recipient certified to the US Department of Commerce's EU-US Privacy Shield. For more information about the EU-US Privacy Shield Framework, visit the U.S. Department of Commerce's Privacy Shield website.
        %p
          %strong ADDITIONAL RIGHTS PROVIDED TO EU INDIVIDUALS
          %ul
            %li.list-margin
              %strong Access and Portability: 
              You have the right to ask us to access the personal data we hold about you and be provided with certain information about how we use your personal data and who we share it with. Where you have provided your personal data to us with your consent, you have the right to ask us for a copy of this data in a structured, machine readable format and to ask us to share (port) this data to another data controller.
            %li.list-margin
              %strong Right to deletion: 
              In certain circumstances, you have the right to ask us to delete the personal data we hold about you:
              %ul
                %li.list-margin
                  where you believe that it is no longer necessary for us to hold your personal data;
                %li.list-margin
                  where we are processing your personal data on the basis of legitimate interests and you object to such processing and we cannot demonstrate an overriding legitimate ground for the processing;
                %li.list-margin
                  where you have provided your personal data to us with your consent and you wish to withdraw your consent and there is no other ground under which we can process your personal data; or
                %li.list-margin
                  where you believe the personal data we hold about you is being unlawfully processed by us.
            %li.list-margin
              %strong Restriction: 
              In certain circumstances, you have the right to ask us to restrict (stop any active) processing of your personal data:
              %ul
                %li.list-margin
                  where you believe the personal data we hold about you is inaccurate and while we verify accuracy;
                %li.list-margin
                  where we want to erase your personal data as the processing is unlawful but you want us to continue to store it;
                %li.list-margin
                  where we no longer need your personal data for the purposes of our processing but you require us to retain the data for the establishment, exercise or defense of legal claims; or
                %li.list-margin
                  where you have objected to us processing your personal data based on our legitimate interests and we are considering your objection.
              %p 
                In addition, you can object to our processing of your personal data based on our legitimate interests and we will no longer process your personal data unless we can demonstrate an overriding legitimate ground.
              %p
                To exercise any of these rights above, please contact us at 
                %a{href:"mailto: privacy@facesbyplaces.com" } privacy@facesbyplaces.com.
              %p
                Please note that these rights are limited, for example, where fulfilling your request would adversely affect other individuals where there are overriding public interest reasons or where we are required by law to retain your personal data.
              %p
                You can withdraw your consent at any time by contacting us at 
                %a{href:"mailto: privacy@facesbyplaces.com " }privacy@facesbyplaces.com.
            %li.list-margin
              %strong Complaints: 
              In the event that you wish to make a complaint about how we process your personal data, please contact us in the first instance at 
              %a{href: "mailto: privacy@facesbyplaces.com "} privacy@facesbyplaces.com 
              and we will endeavor to deal with your request as soon as possible. This is without prejudice to your right to raise a complaint with a relevant supervisory authority
    #childrens-privacy.row
      %strong XIII. CHILDREN’S PRIVACY
      %ul
        %p
          Pray does not knowingly collect or solicit personal information from children under the age of sixteen (16) or knowingly allow such persons to sign-up for the Service. Pray and its Service are not directed at children under the age of sixteen (16). If you are a child under sixteen (16) years of age, you are not permitted to use the Service and should not send any information about yourself to us through the Service. In the event FBP becomes aware that we have collected personal information from any child under the age of sixteen (16), we will dispose of that information as quickly as possible. If you are a parent or guardian and you believe that your child under the age of sixteen (16) has provided us with personal information, please contact us immediately at: 
          %a{href:"mailto: privacy@facesbyplaces.com "} privacy@facesbyplaces.com.
    #security.row 
      %strong XIV. SECURITY
      %ul
        %p
          We work hard to incorporate commercially reasonable safeguards to help protect and secure all of your information. However, no data transmission over the Internet, mobile networks, wireless transmission or electronic storage of information can be guaranteed to be 100% secure. Please note that we cannot ensure the security of any information you transmit to us, and you use our Service and provide us with your information at your own risk.
    #changes-to-privacy-policy.row 
      %strong XV. CHANGES TO THE PRIVACY POLICY
      %ul
        %p
          We reserve the right to change this Privacy Policy at any time. Any changes will be effective immediately upon the posting of the revised Privacy Policy and your use of our Service indicates your agreement to the privacy policy posted at the time of use.
    #severability.row
      %strong XVI. SEVERABILITY
      %ul
        %p
          To the extent any provision of this Privacy Policy is found by a competent tribunal to be invalid or unenforceable, such provision shall be severed to the extent necessary for the remainder to be valid and enforceable. The following third-parties that collect information from you on the Service have given us notice that you may obtain information on their policies and practices, and in some instances opt-out of certain of their activities, as follows:
        %table
          %thead
            %tr
              %th Party
              %th For More Information 
          %tbody
            %tr
              %td{"data-label" => "Party" } 
                Google Analytics 
              %td{"data-label" => "For More Information" }
                %a{href:"http://www.google.com/analytics/learn/privacy.html"} http://www.google.com/analytics/learn/privacy.html
        %p
          %strong PLEASE NOTE: 
          We are not responsible for third-party policies or practices. We try to keep this information current, and will add to and subtract from the chart above as appropriate, but it is provided as a courtesy and may not be current or accurate. Please contact the relevant third-parties regarding their privacy and data security policies and practices.
    #privacy-shield.row
      %strong XVII. Privacy Shield
      %ul
        %p
          %strong FacesbyPlaces.com 
          complies with the EU-U.S. Privacy Shield Framework and Swiss-U.S. Privacy Shield Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information transferred from the European Union and Switzerland to the United States. FacesbyPlaces.com has certified to the Department of Commerce that it adheres to the Privacy Shield Principles. If there is any conflict between the terms in this privacy policy and the Privacy Shield Principles, the Privacy Shield Principles shall govern. To learn more about the Privacy Shield program, and to view our certification, please visit 
          %a{href:"https://www.privacyshield.gov/"} https://www.privacyshield.gov/
          In compliance with the Privacy Shield Principles, FacesbyPlaces.com commits to resolve complaints about our collection or use of your personal information. EU and Swiss individuals with inquiries or complaints regarding our Privacy Shield policy should first contact FacesbyPlaces.com at: 
          %a{href:"mailto:privacy@facesbyplaces.com "} privacy@facesbyplaces.com. 
          (FBP) has further committed to refer unresolved Privacy Shield complaints to JAMS, an alternative dispute resolution provider located in the United States. If you do not receive timely acknowledgment of your complaint from us, or if we have not addressed your complaint to your satisfaction, please contact or visit 
          %a{href:"http://www.jamsadr.com/eu-us-privacy-shield"} http://www.jamsadr.com/eu-us-privacy-shield 
          for more information or to file a complaint. The services of JAMS are provided at no cost to you. Further, as part of FacesbyPlaces.com’s commitment to compliance with the EU-U.S. Privacy Shield Framework and Swiss-U.S. Privacy Shield Framework, we hereby provide notice that:
          %ul
            %li.list-margin
              %strong FacesbyPlaces.com 
              is subject to the investigatory and enforcement powers of the Federal Trade Commission (FTC).
            %li.list-margin
              There exists the possibility, under certain conditions, for you to invoke binding arbitration.
            %li.list-margin
              %strong FacesbyPlaces.com 
              is required to disclose personal information in response to lawful requests by public authorities, including to meet national security or law enforcement requirements.
            %li.list-margin
              %strong FacesbyPlaces.com 
              shall remain liable under the Principles if its agent processes such personal information in a manner inconsistent with the Principles, unless FacesbyPlaces.com proves that it is not responsible for the event giving rise to the damage.
    #contact-us.row
      %strong XVIII. CONTACT US 
      %ul
        %p 
          If you have any questions about the Privacy Policy or practices described in it, you should contact us in the following ways: Email: 
          %a{href: "mailto: privacy@facesbyplaces.com"} privacy@facesbyplaces.com. 
          You can also write to our Data Protection Officer at 
          %a{href:"mailto: privacyshield@facesbyplaces.com"} privacyshield@facesbyplaces.com.
    #row 
      .title
        %strong Copyright © 2021 FacesbyPlaces.com All rights reserved.
    #row
      .footer-title 
        %strong FacesbyPlaces LLC, 
        %br
        %strong 215-03 Jamaica Avenue
        %br
        %strong Queens Village, NY 11428
        %br
        %br
        %br
        %strong Updated October 2, 2021
        %br  
        %br
        %br
        %br
        %br
